<div (mouseout)="mouseover=false" (mouseover)="mouseover=true"  [class.gt-50]="pst > 50" class="progress-pie-chart">
  <div class="ppc-progress">
         <div [ngStyle]="{'transform': 'rotate(' + 360*pst/100 +'deg)' }" class="ppc-progress-fill"></div>
  </div>
  <div class="ppc-percents">
     <div class="pcc-percents-wrapper">
        <span *ngIf="!mouseover && pst !== 100">{{pst}}%</span>
       <button (click)="hideProgressBar()" *ngIf="pst===100" mat-button>
         <mat-icon>download_done</mat-icon>
       </button>
       <button (click)="cancelAction()" *ngIf="pst!==100 && mouseover" mat-button>
         <mat-icon>cancel</mat-icon>
       </button>
     </div>
  </div>
</div>
<div class="status">
  <span>{{status}}</span>

</div>

