@import "assets/styles/material";
body.dark-theme {
  background-color: #2d3436;
  //color: #dfe6e9;
}

body.light-theme {
  //background-color: #dfe6e9;
  //color: #2d3436;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.center {
  position: absolute;
  /*it can be fixed too*/
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  /*this to solve "the content will not be cut when the window is smaller than the content": */
  max-width: 100%;
  max-height: 100%;
}

.mat-form-field-subscript-wrapper {
  font-size: 70%;
  margin-top: 0.3em;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
