mat-toolbar a {
  margin: 0 5px;
}

.circle {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  opacity: .25;
  margin: 0 5px;
  &.connect{
    background-color: green;
  }
  &.disconnect{
    background-color: red;
  }
}
