<div *ngIf="panels && panelsTableOptions" fxFlexFill fxLayout="column">
  <div fxFlex="40px" fxLayoutAlign="space-between" style="width: 100%">
    <button (click)="openAddPanelDialog()" color="primary" mat-raised-button style="width: 150px;">Create New Panel</button>
    <mat-slide-toggle (change)="showDeleted = $event.checked" [checked]="false">Show deleted panels</mat-slide-toggle>
  </div>
  <swagular-table   [dataSource]="panelsToShow" [options]="panelsTableOptions" fxFlex style="padding: 50px"></swagular-table>
</div>
