::ng-deep .admin-form {
  swagular-input {
    width: 48%;
  }
}

::ng-deep .actions-column {
  // width:225 px !important;
}

::ng-deep .deleted {
  opacity: 40%;
}

::ng-deep .cdk-column-panelId {
  padding-left: 0 !important;
}


::ng-deep table button {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
